.page {
  background-color: var(--background-color);
  height: 100%;
  padding: 20px;
}

h1 {
  margin-bottom: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  /* width: fit-content; */
  /* justify-content: flex-start; */
  align-items: flex-start;
  gap: 10px;
}

.form > div {
  display: flex;
  gap: 10px;
}

.form > div > * {
  width: fit-content;
}

/* .button {
  margin-bottom: 10px;
} */
