.page {
  background-color: rgb(233, 244, 248);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mainArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 400px;
}

.title {
  font-size: 40px;
}

.text {
  font-size: 20px;
}

.mainButton {
  width: 100%;
}

.notesButton {
  width: 50%;
  align-self: flex-end;
}
